<?xml version="1.0" encoding="UTF-8"?>

   <config version="7.0.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: netlify, firebase, local, email, or sheets -->
   <item id="studyTitle">Metodologias de avaliação</item> 
   <item id="databaseOptions">Include_Google_Options</item>
   <item id="setupTarget">netlify</item>
   <!-- STEIN -->
   <item id="steinApiUrl"></item>
   <!-- EMAIL -->
   <item id="emailAddress"></item>  
   <item id="emailSubject"></item>  
   <!-- SECOND PROJECT LINKING -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl">http://</item> 
   <!-- IMAGE OPTIONS  (imageFormat: 169 or 43)-->
   <item id="useImages">false</item>
   <item id="numImages">30</item>
   <item id="imageFileType">jpg</item>
   <item id="imageFormat">postSortImageModal169</item>

   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">false</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 
   <item id="showConsentPage">false</item>
   <item id="showConsentPageHelpModal">false</item>

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">partId</item>
   <item id="accessCode">demo</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#7aef7a</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#f58585</item>
   <item id="defaultFontColor">#2a2a2a</item>

   <item id="setDefaultFontSizePresort">true</item>
   <item id="defaultFontSizePresort">22</item>
   <item id="traceSorts">true</item>
  

   <!-- SORT -->
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="condOfInstFontSize">31</item>

   <item id="setMinCardHeightSort">true</item>
   <item id="minCardHeightSort">120</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="defaultFontSizeSort">16</item>
   
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">false</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   <item id="showBackButton">false</item>
   <item id="postsortCommentsRequired">false</item>

   <item id="setDefaultFontSizePostsort">true</item>
   <item id="defaultFontSizePostsort">16</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="minCardHeightPostsort">120</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
        <input type="radio" required="true">Mulher;;;Homem;;Pessoa não binária;;;Outro;;;Prefiro não responder</input>
        <label>Identidade Social</label>
        <note>Indique o gênero com qual se identifica</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Branca;;;Preta;;;Parda;;;Amarela;;;Indígena;;;Outra;;;Prefiro não responder</input>
        <label>Identidade Social</label>
        <note>Indique sua raça</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Graduação;;;Especialização;;;Mestrado;;;Doutorado</input>
        <label>Formação</label>
        <note>Nível máximo de instrução alcançado</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Economia;;;Administração;;;Ciências Sociais, Políticas ou Filosofia;;;Relações Internacionais;;;Geografia;;;Engenharias;;;Computação;;;Matemática;;;Ciências da Natureza (Física, Química, Biologia e etc);;;Comunicação ou Letras;;;Outros</input>
        <label>Formação</label>
        <note>Indique a área do nível máximo de instrução</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Entre 1 e 5 anos;;;Entre 5 e 10 anos;;;Entre 10 e 15 anos;;; Entre 15 e 20 anos;;;Mais de 20 anos</input>
        <label>Identificação Profissional</label>
        <note>Indique o tempo que está no IPEA</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">GABIN;;;CGPLA;;;CGCOM;;;DIDES;;;CGDTI;;;DISET;;;DIRUR;;;DISOC;;;DIMAC;;;DINTE;;;DIEST</input>
        <label>Identificação Profissional</label>
        <note>Indique sua Diretoria/Coordenação-Geral</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Bolsista;;;Estagiário;;;Consultor;;;Técnico(a) de Planejamento e Pesquisa;;;Servidor(a) de outras carreiras;;;Outro</input>
        <label>Identificação Profissional</label>
        <note>Indique seu vínculo com o IPEA</note>
   </item>

   <item id="survey">
        <input type="radio" required="true">Sim;;;Não</input>
        <label>Identificação Profissional</label>
        <note>No dia a dia você se envolve diretamente em atividades de Avaliação de Políticas Públicas?</note>
   </item>


       
  </config>